/*****
Toolbar
*****/
.toolbar-separator {
	margin: 0 2% 0 2%;
}

/*****
Home - Group Layouts
*****/


/*****
Home - Member Layouts
*****/
.member {
	text-align: center;
}

.member-picture {
	max-width:100%;
	display: block;
	margin: 0 auto;
}

/*****
Side Navigation Bar
*****/
#sidenav  {
	width:400px;
}

.logo {
	text-align: center;
	padding: 0 0 16px;
	margin: 0 auto;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.logo > img {
	height: 200px;
	width: auto;
}

/* Menu Styling */
ul {
	margin:0px;
	padding:0px;
}

ul li {
	padding:0px;
}

.menu ul {
	padding:0px;
	margin:0px;
	max-width:100%;
}

.menu li {
  	margin: 0px;
}

.menu .md-button {
	margin:0px;
	overflow: hidden;
	width: 100%;
	padding: 0px 16px;
	line-height: 40px;
	max-height: 40px;
}

.menu-heading {
	margin: 0px;
	padding: 8px 16px 0px;
}

/*****
Content Window
*****/
#searchBar {
	display:flex;
}