<!DOCTYPE HTML>
<html lang="en" ng-app="garageApp">
	<head>
		<title>The Garage - Directory</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!--build:css styles.css-->
		<link rel="stylesheet" href="garageApp.css">
		<link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
		<!-- /build -->
	</head>

	<body layout="row" ng-controller="MainCtrl">
		<!-- <div style="visibility:hidden">
			<div class="md-dialog-container" id="loginDialog">
				<md-dialog>
					<md-dialog-content>
						<p>This is a pre-rendered dialog.</p>
					</md-dialog-content>
					<md-dialog-actions>
						<md-button ng-click="closeDialog()">
							Cancel
						</md-button>
					</md-dialog-actions>
				</md-dialog>
			</div>
		</div> -->

		<md-sidenav id="sidenav" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" class="md-sidenav-left md-whiteframe-4dp">
			<header>
				<a ng-href="/garage-directory" class="logo">
					<img src="assets/TheGarage.png" alt="The Garage Logo">
				</a>
			</header>

			<md-content flex role="navigation">
				<md-button ng-show="!loggedIn" class="md-primary" id="loginButton" ng-click="showLoginDialog()">Staff Sign-in</md-button>
				<md-button ng-show="loggedIn" class="md-warn" ng-click="signOut()">Sign Out</md-button>
				<ul class="menu">
					<li>
						<md-button ng-click="setGroup({ name: '', members: []})">
							<div layout="row">
								All Groups
							</div>
					</li>
					<li ng-repeat="section in menu.sections">
						<h2 class="menu-heading">{{ section.name }}</h2>
						<ul>
							<li ng-repeat="group in section.groups">
								<md-button ng-click="setGroup(group)">
									<div layout="row">
										{{ group.name }}
									</div>
								</md-button>
							</li>
						</ul>
					</li>
				</ul>
			</md-content>
		</md-sidenav>

		<div layout="column" layout-fill>
			<md-toolbar class="md-toolbar-tools">
				<md-button class="md-icon-button hide-gt-sm" ng-click="openMenu()"><md-icon md-svg-src="assets/ic_menu_white_24px.svg"></md-icon></md-button>
				<h2>Directory</h2>
				<span class="toolbar-separator" ng-if="selectedGroup.name != ''">></span>
				<span ng-if="selectedGroup.name != ''">{{ selectedGroup.name }}</span>
			</md-toolbar>

			<md-content flex ui-view layout-padding></md-content>
		</div>

		<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
		<script>
			// Initialize Firebase
			var config = {
				apiKey: "AIzaSyCM36rew0QhnDUPJS2ottAXEl4hHrFGVL0",
				authDomain: "the-garage-directory.firebaseapp.com",
				databaseURL: "https://the-garage-directory.firebaseio.com",
				storageBucket: "",
			};
			firebase.initializeApp(config);
		</script>
		<!--build:js scripts.js-->
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-aria/angular-aria.min.js"></script>
		<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script src="bower_components/angular-animate/angular-animate.min.js"></script>
		<script src="bower_components/angular-material/angular-material.min.js"></script>
		<script src="bower_components/angular-messages/angular-messages.min.js"></script>
		<script src="app.js"></script>
		<script src="homeView/HomeCtrl.js"></script>
		<script src="residentView/ResidentCtrl.js"></script>
		<!-- /build -->
	</body>
</html>