<div layout="column">
	<md-input-container id="searchBar">
		<label>Search for any Resident Member<span ng-if="selectedGroup.name != ''"> within {{ selectedGroup.name }}</span>...</label>
		<input ng-model="query" type="text">
	</md-input-container>

	<md-content>
		<div ng-repeat="section in allGroups">
			<div ng-repeat="group in section.groups | group : selectedGroup.name">
				<!-- Show the group name if the member filter returns anyone, or if the group is selected.-->
				<div class="group" ng-if="!isEmpty((allMembers | member : query:group)) || selectedGroup.name == group.name">
					<h3 >{{ group.name }}</h3>
					<div layout-gt-sm="row" layout="column" layout-align="start center" layout-wrap layout-margin>
						<div ng-repeat="member in allMembers | member : query:group" flex flex-gt-sm="40" class="member"> 
							<!-- I wonder if I can get rid of the double filter call somehow...-->
							<md-card class="member">
								<md-card-title>
									<md-card-title-text>
										<span class="md-headline">{{ member.name }}</span>
										<span class="md-subhead">Company Position</span>
									</md-card-title-text>
									<md-card-title-media>
										<div class="md-media-lg">
											<img ng-src="{{ member.headshotURL }}" alt="headshot.jpg">
										</div>
									</md-card-title-media>
								</md-card-title>
							</md-card>
							<!-- <img ng-src="http://placehold.it/150x150" alt="headshot.jpg" class="member-picture">
							<a>{{member.name}}</a> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</md-content>
</div>